@import '../../styles/theme.scss';
@import '../../styles/typography.css';

.btn-tsel-apple {
    width: 100%;
    min-width: max-content;
    padding: 12px;
    @extend .semantic-secondary900;
    border-radius: 56px;
    @extend .btn-text-primary;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid;
    min-height: 48px;
    flex-shrink: 0;

    &:hover {
        @extend .semantic-secondary600;
    }
}

.btn-tsel-google {
    width: 100%;
    min-width: max-content;
    padding: 12px;
    @extend .semantic-primary400;
    border-radius: 56px;
    @extend .btn-text-primary;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid;
    min-height: 48px;
    flex-shrink: 0;

    &:hover {
        @extend .semantic-primary300;
    }
}

.btn-tsel-facebook {
    width: 100%;
    min-width: max-content;
    padding: 12px;
    @extend .semantic-info500;
    border-radius: 56px;
    @extend .btn-text-primary;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid;
    min-height: 48px;
    flex-shrink: 0;

    &:hover {
        @extend .semantic-info400;
    }
}

.btn-tsel-twitter {
    width: 100%;
    min-width: max-content;
    padding: 12px;
    @extend .semantic-info300;
    border-radius: 56px;
    @extend .btn-text-primary;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid;
    min-height: 48px;
    flex-shrink: 0;
    
    &:hover {
        @extend .semantic-info200;
    }
}

@media only screen and (min-width: 360px) and (max-width: 639px) {
    .btn-tsel-apple {
        padding: 10px;
        font-size: 12px;
        line-height: 20px;
    }

    .btn-tsel-google {
        padding: 10px;
        font-size: 12px;
        line-height: 20px;
    }

    .btn-tsel-facebook {
        padding: 10px;
        font-size: 12px;
        line-height: 20px;
    }

    .btn-tsel-twitter {
        padding: 10px;
        font-size: 12px;
        line-height: 20px;
    }
}