@import '../../styles/theme.scss';
@import '../../styles/typography.css';
@import '../../styles/color.scss';
@import '../../styles/spacing.scss';

.language-selector {
    display: inline-flex;
    align-items: center;
    background-color: #F1F1F4;
    border-radius: 36px;
    cursor: pointer;
    padding-left: 6px;
    padding-right: 12px;
    padding-top: 4px;
    padding-bottom: 4px;
}

.icon-country-indonesia {
    background: url('../../assets/icons/ico_ind.svg');
    height: 24px;
    width: 24px;
}

.icon-country-us {
    background: url('../../assets/icons/ico_en_usa.svg');
    height: 24px;
    width: 24px;
}

.chevron-right-hide {
    height: 12px;
    width: 12px;
    margin-left: 8px;
}

.chevron-right {
    background: url('../../assets/icons/ico_chevron_right.svg');
    height: 12px;
    width: 12px;
    margin-left: 8px;
}
