@import '../../styles/theme.scss';
@import '../../styles/typography.css';
@import '../../styles/color.scss';

.badge-tsel {
    border-radius: 32px;
    min-height: 32px;
    min-width: 32px;
    display: flex;
    width: max-content;
    height: fit-content;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 6px;
}

.badge-tsel-primary {
    @extend .tsel-primary;
    @extend .text-white;
}
  
.badge-tsel-secondary {
    @extend .bg-disable01;
    @extend .text-tritary;
}