@import '../../styles/theme.scss';
@import '../../styles/typography.css';
@import '../../styles/color.scss';
@import '../../styles/spacing.scss';

.btn-tsel {
    width: 100%;
    padding: 14px;
    border-radius: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid;
    position: relative;
    overflow: hidden;
    transition: 400ms;
}

.btn-tsel-primary {
    @extend .btn-tsel;
    @extend .bg-primary;
    @extend .btn-text-primary;
    &:hover:enabled {
        @extend .semantic-primary400;
    }

    &:focus:enabled {
        @extend .semantic-primary400;
    }

    &:disabled {
        @extend .bg-disable02;
    }
}

.btn-tsel-secondary {
    @extend .btn-tsel;
    @extend .bg-white;
    @extend .btn-text-secondary;
   
    @extend .borderStroke-error02;

    &:hover:enabled {    
        @extend .semantic-primary0;
    }

    &:focus:enabled {
        @extend .semantic-primary0;
    }

    &:disabled {
        @extend .bg-white;
        @extend .borderStroke-primary;
        @extend .text-disable;
    }
}

.btn-tsel-text {
    width: 100%;
    min-width: max-content;
    padding: 10px;
    @extend .bg-white;
    border-radius: 56px;
    @extend .text-info;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid transparent;

    &:hover:enabled {
        @extend .semantic-secondary100;
    }

    &:focus:enabled {
        @extend .semantic-secondary100;
    }

    &:disabled {
        @extend .text-disable;
        @extend .bg-white;
    }
}

.btn-tsel-xl {
    padding: 14px !important;
    font-size: 14px !important;
    line-height: 20px !important;
}

.btn-tsel-lg { 
    padding: 10px !important;
    font-size: 14px !important;
    line-height: 20px !important;
}

.btn-tsel-md {
    padding: 6px !important;
    font-size: 12px !important;
    line-height: 20px !important;
}

.btn-tsel-sm {
    padding: 2px !important;
    font-size: 10px !important;
    line-height: 16px !important;
}

.ripple-effect-primary {
    width: 35%;
    height: 100%;
    background: linear-gradient(90deg, #b90024 0.48%, rgba(185, 0, 36, 0) 100.45%);
    border-radius: 56px;
    position: absolute;
    right: 0;
}

.ripple-effect-secondary {
    width: 35%;
    height: 100%;
    background: linear-gradient(90deg, #f0f2f4 0.48%, rgba(210, 213, 216, 0) 100.45%);
    border-radius: 56px;
    position: absolute;
    right: 0;
}

.ripple-primary {
    position: absolute;
    width: 12px;
    height: 12px;
    animation-name: ripple-primary;
    animation-duration: 1s;
    opacity: 0;
    border-radius: 50%;
}

@keyframes ripple-primary {
    0% {
      opacity: 1;
      transform: scale(0);
      background: linear-gradient(90deg, #B90024 0.48%, rgba(185, 0, 36, 0) 100.45%);
    }
    
    100% {
      opacity: 0;
      transform: scale(100);
      background: linear-gradient(90deg, #B90024 0.48%, rgba(185, 0, 36, 0) 100.45%);
    }
}

.ripple-secondary {
    position: absolute;
    width: 12px;
    height: 12px;
    animation-name: ripple-secondary;
    animation-duration: 1s;
    opacity: 0;
    border-radius: 50%;
}

@keyframes ripple-secondary {
    0% {
      opacity: 1;
      transform: scale(0);
      background: linear-gradient(90deg, #F0F2F4 0.48%, rgba(210, 213, 216, 0) 100.45%);
    }
    
    100% {
      opacity: 0;
      transform: scale(100);
      background: linear-gradient(90deg, #F0F2F4 0.48%, rgba(210, 213, 216, 0) 100.45%);
    }
}
