@import '@/styles/colors/text.scss';
@import '@/styles/colors/background.scss';
@import '@/styles/colors/semantic.scss';


/* brand color */
.tsel-primary {
    background-color: #ff0025;
}

.tsel-secondary {
    background-color: #001a41;
}



/* Link Text */
.link-text {
    background-color: #0050ae;
}

/* icon color */
.icon-primary {
    color: #ff0025;
}

.icon-secondary {
    color: #001a41;
}

.icon-white {
    color: #ffffff;
}

.icon-disable {
    color: #4e5764;
}

/* System Icon */
.systemIcon-valid {
    color: #008e53;
}

.systemIcon-info {
    color: #0050ae;
}

.systemIcon-error {
    color: #bc1d42;
}

.systemIcon-warning {
    color: #fda22b;
}

.systemIcon-disableText {
    color: #b3bac6;
}

.systemIcon-disableBg {
    background-color: #edecf0;
}

/* Divider */
.divider-primary {
    background-color: #ebeeef;
}

/* Border */
.borderStroke-primary {
    border-color: #ccd1d9;
}

.borderStroke-warning {
    border-color: #fed27f;
}

.borderStroke-warning02 {
    border-color: #f4837d;
}

.borderStroke-error02 {
    border-color: #ff0025;
}

.borderStroke-valid {
    border-color: #008E53;
}

.borderStroke-info {
    border-color: #94CFF6;
}

.borderStroke-info02 {
    border-color: #0050AE;
}

.borderStroke-error {
    border-color: #bc1d42;
}

.borderStroke-transparent {
    border-color: #ffffff;
}

.borderStroke-grey {
    border-color: #CCCFD3;
}