// Definisikan daftar ukuran
$spacings: (
    2: 2px,
    4: 4px,
    8: 8px,
    12: 12px,
    16: 16px,
    20: 20px,
    24: 24px,
    28: 28px,
    32: 32px,
    40: 40px
);

// Generate margin classes
@mixin generate-margin($prefix, $value) {
    .#{$prefix}-#{$value} {
        margin: map-get($spacings, $value);
    }

    .#{$prefix}x-#{$value} {
        margin-right: map-get($spacings, $value);
        margin-left: map-get($spacings, $value);
    }

    .#{$prefix}y-#{$value} {
        margin-top: map-get($spacings, $value);
        margin-bottom: map-get($spacings, $value);
    }

    .#{$prefix}t-#{$value} {
        margin-top: map-get($spacings, $value);
    }

    .#{$prefix}b-#{$value} {
        margin-bottom: map-get($spacings, $value);
    }

    .#{$prefix}l-#{$value} {
        margin-left: map-get($spacings, $value);
    }

    .#{$prefix}r-#{$value} {
        margin-right: map-get($spacings, $value);
    }
}

// Generate padding classes
@mixin generate-padding($prefix, $value) {
    .#{$prefix}-#{$value} {
        padding: map-get($spacings, $value);
    }

    .#{$prefix}x-#{$value} {
        padding-right: map-get($spacings, $value);
        padding-left: map-get($spacings, $value);
    }

    .#{$prefix}y-#{$value} {
        padding-top: map-get($spacings, $value);
        padding-bottom: map-get($spacings, $value);
    }

    .#{$prefix}t-#{$value} {
        padding-top: map-get($spacings, $value);
    }

    .#{$prefix}b-#{$value} {
        padding-bottom: map-get($spacings, $value);
    }

    .#{$prefix}l-#{$value} {
        padding-left: map-get($spacings, $value);
    }

    .#{$prefix}r-#{$value} {
        padding-right: map-get($spacings, $value);
    }
}

// Gunakan mixin untuk menghasilkan kelas
@each $value, $size in $spacings {
    @include generate-margin(m, $value);
    @include generate-padding(p, $value);
}