
/* background color */
.bg-primary {
    background-color: var(--bg-primary, #ed0226);
}

.bg-secondary {
    background-color: var(--bg-secondary, #001a41);
}

.bg-disable01 {
    background-color: var(--bg-disable01, #f1f1f4);
}

.bg-warm {
    background-color: var(--bg-warm, #f6f3f3);
}

.bg-valid {
    background-color: var(--bg-valid, #edfcf0);
}

.bg-info {
    background-color: var(--bg-info, #e9f6ff);
}

.bg-error {
    background-color: var(--bg-error, #fdddd4);
}

.bg-warning {
    background-color: var(--bg-warning, #fef3d4);
}

.bg-disable02 {
    background-color: var(--bg-disable02, #e9e8ed);
}

.bg-white {
    background-color: var(--bg-white, #ffffff);
}

.bg-gradient-primary {
    background: linear-gradient(90deg, #ed0226 0%, #b90024 100%);
}

.bg-gradient-secondary {
    background: linear-gradient(75.07deg, #001a41 17.5%, #0e336c 105.9%);
}

.bg-gradient-banner01 {
    background: linear-gradient(79.31deg, #cd0a45 62.91%, #fd2b77 101.75%);
}

.bg-gradient-banner02 {
    background: linear-gradient(76.33deg, #ed0226 52.23%, #fda22b 72.94%), #b90024;
}

.bg-gradient-baner03 {
    background: linear-gradient(76.81deg, #b90024 15.71%, #ff0025 68.97%, #fd195e 94.61%);
}