/* text color */
.text-tritary {
    color: var(--text-tritary, #ff0025);
}

.text-valid {
    color: var(--text-valid, #008e53);
}

.text-info {
    color: var(--text-info, #0050ae);
}

.text-error {
    color: var(--text-error, #bc1d42);
}

.text-warning {
    color: var(--text-warning, #d9801f);
}

.text-warning02 {
    color: #fda22b;
}

.text-primary {
    color: var(--text-primary, #001a41);
}

.text-secondary {
    color: var(--text-secondary, #4e5764);
}

.text-disable {
    color: var(--text-disable, #b3bac6);
}

.text-white {
    color: #ffffff;
}
