@import '../typography.scss';

.body-signal{
    font-weight: normal;
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: initial;
    color: var(--text-primary);
    font-family: 'Poppins', sans-serif;
    &.size-1{
        font-size: 1.4em;
        line-height: 20px;
    }
    &.size-2{
        font-size: 1.2em;
        line-height: 20px;
    }
    &.size-3{
        font-size: 1em;
        line-height: 16px;
    }
    &.f-bold{
        font-weight: 700;
    }
}
