@import '../typography.scss';

.heading-signal{
    font-weight: normal;
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: initial;
   
    &.size-1{
        font-size: 4.4em;
        line-height: 56px;
    }
    &.size-2{
        font-size: 3.2em;
        line-height: 48px;
    }
    &.size-3{
        font-size: 2.8em;
        line-height: 40px;
    }
    &.size-4{
        font-size: 2.4em;
        line-height: 40px;
    }
    &.size-5{
        font-size: 1.8em;
        line-height: 24px;
    }
    &.size-6{
        font-size: 1.6em;
        line-height: 24px;
    }
    &.f-bold{
        font-weight: 700;
    }
}

@import '@/styles/spacing.scss';

