@import '../../styles/theme.scss';
@import '../../styles/typography.css';
@import '../../styles/color.scss';

.container-switch {
    display: flex;
    align-items: center;
}

.switch-tsel {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 24px;
}

.switch-tsel input {
    opacity: 0;
    width: 0;
    height: 0;
}

.switch-right {
    margin-right: 8px;
}

.switch-left {
    margin-left: 8px;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    @extend .bg-disable02;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    top: 2px;
    left: 2px;
    bottom: 4px;
    @extend .bg-secondary;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    @extend .semantic-info500;
}

input:checked+.slider:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(16px);
}

/* Rounded sliders */
.slider.round {
    border: 2px solid #B3BAC6;
    border-radius: 16px;
}

input:checked+.slider.round {
    border: 2px solid #003D95;
}

input:disabled+.slider.round {
    border: 2px solid transparent;
    @extend .semantic-secondary400;
}

.slider.round:before {
    border-radius: 50%;
}

input:checked+.slider.round:before {
    @extend .bg-white;
}

input:disabled+.slider:before {
    @extend .bg-white
}