@import '../typography.scss';

.title-signal{
    font-weight: normal;
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: 1.6em;
    line-height: 24px;
    font-family: 'Poppins', sans-serif;
    &.f-bold{
        font-weight: 700;
        line-height: 24px;
    }
}
