@import '../../styles/theme.scss';
@import '../../styles/typography.css';
@import '../../styles/color.scss';

.dialogs-tsel {
    @extend .bg-warm;
    display: flex;
    align-items: center;
    box-shadow: 0px 4px 8px rgba(25, 49, 83, 0.2);
    border-radius: 8px;
    padding: 16px;
}

.dialogs-icon-tsel {
    margin-right: 24px;
}

.dialogs-text-tsel {
    margin-right: 24px;
}

.dialogs-button-tsel {
    display: flex;
    align-items: center;
}

.button-secondary {
    margin-right: 16px;
}