@import '../layout.scss';

.tsel-paper{
    box-sizing: border-box;
    overflow: hidden;
    @extend .p-20;
    // @extend .bg-white;
    &.variant-1{
        border-radius: 0 16px;

    }
    &.variant-2{
        border-radius: 10px 10px 10px 0;
    }
}


